body {
    margin: 0;
    padding: 0;
    overflow: overflow;
}

.container-fluid main {
    height: 90vh;
    overflow: scroll;
}
/* Styles chat boxes */
.container-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}
.time-left {
  float: left;
  color: #999;
}

/* Controls chat input  field*/
#messageInput {
    position: fixed;
    bottom: 15px;
    width: 90vw;
}
@media (min-width: 768px) {
    #messageInput {
        position: fixed;
        bottom: 15px;
        width: 62vw;
    }
}

/* Controls chat display area*/
#messagesList {
    padding-bottom: 10vh;
}

/* Hides scroll x in messages area */
#mainContent {
    overflow: auto;
    height: 100%;
}
