<!DOCTYPE html>

<html lang="en">

    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- Socket Javascript -->
		<script src="../static/socket.io.min.js"></script>
	
		<title>hi</title>
    </head>
	
	<style>
		body *{
			text-align: center;
		}
	</style>
	
    <body>
		<h1> hello there! </h1>
		<hr><br><br>
		
		<form id=send>
			<input type=text id=typer spellcheck=false required> &emsp;
			<button>send</button>
		</form>
		<br><hr><br><br>
		
		<div id=msgbox> </div>
		
		<!-- myscript -->
		<script src="../static/script.js"></script>
    </body>

</html>



